{% block footer %}
  <footer id="footer" class="footer">
    {% include 'footer-menu.twig' %}
    <div class="copyright">Copy right by HeoChauA</div>
  </footer>
  <div class="user-location-info">
    <div id="ip"></div>
    <div id="address"></div>
    <div id="city"></div>
    <div id="region"></div>
    <div id="country"></div>
    <div id="loc"></div>
    <div id="org"></div>
  </div>
{% endblock %}
